version: '2.1'
services:
  db:
    image: microsoft/mssql-server-linux:2017-latest
    ports:
      - "1433:1433"
    environment:
      ACCEPT_EULA: Y
      SA_PASSWORD: admin@123
    volumes:
      - ./scripts/db:/usr/src/app
    working_dir: /usr/src/app
    command: sh -c ' chmod +x ./entrypoint.sh; ./entrypoint.sh & /opt/mssql/bin/sqlservr;'
  api:
    build: .
    image: api:1
    ports:
      - "8080:8080"
    environment:
      PORT: 8080
    links:
      - db